{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>{% block title %}Media server{% endblock %}</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="shortcut icon" href="{% static 'serverlist/favicon.jfif' %}">
		{% block head %}
		<style>
			table td {
				word-break: keep-all;
				white-space: nowrap;
			}
		</style>
		{% endblock %}
		<link href="{% static 'serverlist/bootstrap.min.css' %}" rel="stylesheet">
		<!-- <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"> -->
	</head>
	<body>
		<div class="container-fluid">
			{% block content %}{{ content }}{% endblock %}
			{% block footer %}{% include "./footer.html" %}{% endblock %}
		</div>
		<script src="{% static 'serverlist/jquery.slim.min.js' %}"></script>
		<script src="{% static 'serverlist/popper.min.js' %}"></script>
		<script src="{% static 'serverlist/bootstrap.min.js' %}"></script>
		<!-- <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.slim.min.js"></script>
		<script src="https://cdn.bootcss.com/popper.js/1.14.7/esm/popper.min.js"></script>
		<script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script> -->
	</body>
</html>
